[2016-05-07 00:30] ylaznik opened #6 "pod install"
Hey ,

Your pod contains a reference to a local folder on your drive :  Users/jedkyung/git/sendbird-ios-framework .  Even after fixing this you get a bunch of errors in the install . would appreciate some help

[2016-05-07 01:07] sf-jed-kyung commented on #6
Sorry. I made a mistake. Please download the latest commit again. Thanks.

[2016-05-07 01:26] ylaznik commented on #6
Dont sweat it man,  shit happens .

your pod doesnt connect to target build
still not working

On Fri, May 6, 2016 at 9:07 PM, Jed Gyeong <notifications@github.com> wrote:

[2016-05-07 01:33] ylaznik commented on #6
try this

[2016-05-08 03:50] sf-jed-kyung commented on #6
I couldn't figure out the problem. However, I realized SendBird framework(v2.2.0) had some bugs, so I updated the framework v2.2.1. Could you try to build the latest version?

[2016-05-08 10:47] ylaznik commented on #6
Sure .

It was a small issue with the pod file .  I sent you a working version of
the podfile that I made .

Im integrating it next week , Ill let you know if I find anything wrong
with it .

Many thanks

On Sat, May 7, 2016 at 8:50 PM, Jed Gyeong <notifications@github.com> wrote:

[2016-05-08 11:07] sf-jed-kyung commented on #6
I can't see your Podfile. Where is it?

[2016-05-08 11:34] ylaznik commented on #6
platform :ios, '8.0'
use_frameworks!
pod "SendBirdSDK"
pod "AFNetworking"

target 'SendBird Sample UI' do

end

target 'SendBirdSampleUITests' do

end

target 'SendBirdSampleUIUITests' do

end

On Sun, May 8, 2016 at 4:07 AM, Jed Gyeong <notifications@github.com> wrote:

[2016-05-08 12:53] sf-jed-kyung commented on #6
Try like this:

[code]

or remove all of targets:

[code]

[2016-06-08 09:45] yothin opened #7 "How to i create new a user?"
In document
"SendBird requires only UserId and Nickname to login in Client SDK by default"

but

`Please make sure that you create two users before starting messaging and correctly passing target user id with setTargetUserId.`

Don't have any tutorial create new user before login with SendBird

Thank you

[2016-06-09 00:55] sf-jed-kyung commented on #7
SendBird has two ways to create a user.

* Logging in method in SDK.

You can log in SendBird with unique user id. If there isn’t the user who has the user id in SendBird, the user will be created and logged in. If there is the user who has the id, the user will be reused and logged in.

* Server API

SendBird provides Server API to create a user. Access token can be set by Server API only.
Please

[2016-06-09 00:56] #6 closed

[2016-06-09 04:29] yothin commented on #7
thank you, I'll try this.

[2016-06-09 04:29] #7 closed

[2016-06-14 15:46] ericandrewmeadows opened #8 "Syntax errors for iOS 10 in Xcode 8 (Swift 2.3 and Swift 3)"
Most of the code is broken with the new release of Xcode 8.  There are many syntax changes, such as https://github.com/apple/swift-evolution/blob/master/proposals/0086-drop-foundation-ns.md, the changing of camel case, CGColor -> cgColor, etc.  Please create a Swift 2.3- or Swift 3-compatible branch.

[2016-06-15 00:47] sf-jed-kyung commented on #8
Thank you for letting us know. We will create the branch for that as soon as possible.

[2016-06-21 14:40] hash3r opened #9 "Wrong word wrapping"
Why do you need these replaces in string?
[code]
Do you know that it breaks word wrapping in any containers like UILabel or UITextView?

[2016-06-24 02:13] sf-jed-kyung commented on #9
You’re right. Ignore the codes. They aren’t necessary. 👍

[2016-06-24 02:13] #9 closed

[2016-07-12 23:44] ramanakanth opened #10 "Push notifications not working"
I am using swift code and integrated sendbirdsdk as per documentation. 1:1 messaging chat is working when both users are active. Where as if any user goes to background, they are not receiving any notifications for the messages sent from the other user. I added certs & configured appid to enable push services.
Any help pls?

[2016-07-13 01:12] #10 closed

[2016-07-13 01:13] ramanakanth commented on #10
Problem with my certs. Erased all my certs and created new ones. Now Push works

[2016-08-02 04:58] dannybess opened #11 "Black Line Shows up in Chat"
Whenever I type in something to the user, a black line appears.

Screenshot: http://prntscr.com/c0iaxi

[2016-08-15 12:00] Arcanfel opened #12 "Registering for push notifications always fails"
[code]

Always fails with following print output:

[2016-08-15 21:35] sf-jin-ku commented on #12
Hi @Arcanfel
800101 means you need to establish a connection first.
https://docs.sendbird.com/ios#change_log

Please call connectWithUser first then call registerPushToken.
Without connectWithUser, we don't know what user_id we should associate the token with.

Thanks!
Jin

[2016-08-15 21:36] Arcanfel commented on #12
Hi @sf-jin-ku! Thanks for the prompt update:)

[2016-08-15 21:36] #12 closed

[2016-08-15 22:20] sf-jin-ku commented on #8
@ericandrewmeadows We've been working on new SDK so this support got delayed. Sorry for that. We will take a look at this issue and should be resolved before the official iOS 10 release.

[2016-08-15 22:25] sf-jin-ku commented on #11
@dannybess is this happening even with our latest sdk v3 sample?

[2016-08-15 23:17] dannybess commented on #11
@sf-jin-ku I no longer have this problem - it looks like a bad constraint was set somewhere.

I am now, however, stuck on another problem. Is there anyway to either delete users, or perform a hard reset a SendBird app (without resetting it's App-Id)?

[2016-08-15 23:36] sf-jin-ku commented on #11
@dannybess
You can use our Platform API to deactivate users. There's no reset feature.
Please contact me and we can try to manually reset your project.
( jin@sendbird.com  )

[2016-08-15 23:38] dannybess commented on #11
@sf-jin-ku I have sent the email. Thanks.

[2016-08-15 23:38] #11 closed

[2016-08-24 11:07] Ankur008 commented on #7
Hey @yothin did you are able to create user?

[2016-09-21 20:04] BrandonS6265 commented on #8
Any word on this?

[2016-09-22 03:12] sf-jed-kyung commented on #8
We uploaded the samples to support Swift 2.3 and Swift 3 to `swift-2.3` and `swift-3` branches.

[2016-09-22 03:12] #8 closed

[2016-10-20 07:37] moh1122 opened #13 "login function"
Hello
thanks for this proj
Is there a way to add a login function to your sample im using swift 3. Like username and password?

[2016-10-20 07:47] moh1122 commented on #13
So in this case the user will need to sign in to enter the app

[2016-11-07 13:58] johngoren opened #14 "Small .XIB trap for people dragging the files into their own project"
In the Swift project, developers trying to import the Chatting view controller into their personal project might run into a crash that I found the answer to after hours of struggle.

Buried in the Chatting/ViewCell files, one XIBs alone is marked with a custom module setting, "SendBird_iOS," restricting it from being used in any other module. This is "IncomingFileMessageViewCell.xib." If you drag

[2016-11-16 10:04] jacks8x opened #16 "didSucceedReconnection, didFailReconnection not call"
After comeback app from background, didSucceedReconnection or didFailReconnection are not called.
Just method didStartReconnection() is called

[2016-11-25 10:14] KiriKiri commented on #16
Pls fix it, or move you SDK to opensource pls.

[2016-12-05 11:22] #16 closed

[2016-12-08 07:22] SusheelYadavAhex opened #17 "One to One"
Hi ,

Thanks for providing this wonderful SDK for Chatting . It's user friendly .

I have a doubt regarding SendBird SDK .
Does this SDK Supports one to one chat . I could not found any where in your app. I tried to run your application , when i pressed open channel , it is showing up list of users . By holding on particular user i am not  getting an alert to chat with the respective person . Inst

[2016-12-09 12:55] sf-jed-kyung commented on #17
Group channel includes 1-on-1 chat. After connection, you can start 1-on-1 chat in Group Channel. Also, I added a new feature to the sample app for starting group channel in open channel. When the profile image is clicked in the open channel, the menus will be shown for it.

[2016-12-09 17:58] SusheelYadavAhex commented on #17
Thanks for your reply ,

About my Project Scenario.
I have replaced with my own " Application id " in appdelegate.m , it is
showing up list of DMV offices of particular area .
Now i need to interact with particular DMV offices . lets say suppose i
have xyzdmvoffice ..so lot of members will join in that xyzdmvoffice . So i
picked up random user and i want to chat with him directly . Does this
scena

[2016-12-10 00:35] sf-jed-kyung commented on #17
I updated the sample app for the feature to start group channel in open channel in v3.0.8. Please try to run the version.

[2016-12-10 03:33] SusheelYadavAhex commented on #17
Sure ,
Thanks for your reply .

[2016-12-13 06:30] swiftymarks opened #18 "SBDGroupChannel last message bug"
Hello this is a snippet code of mine in where variable ch is as class of SBDGroupChannel
[code]

The problem is the last message only get the last available instance of SBDUserMessage in the chats. If SBDFileMessage was the last message it always return the last available SBDUserMessage instance in the chat so

[code]
alwsys failed

[2016-12-13 06:30] swiftymarks commented on #18
This bug also appears in the Android SDK

[2016-12-13 06:47] sf-jed-kyung commented on #18
I think this is the server-side problem. Please send support@sendbird.com your App ID.

[2016-12-14 23:11] sf-jed-kyung commented on #18
We have an option on our dashboard to solve your problem. You can see `Notifications for File Message` option in `SETTINGS` tab on the dashboard for an app that has the problem. If you turn the option on, the file message will be set to the last message of the group channel. Be aware that you cannot turn off it again after turning on.

[2016-12-14 23:11] #18 closed

[2016-12-14 23:12] #17 closed

[2016-12-29 10:58] SusheelYadavAhex opened #19 "Api Token Missing Error"
Hi,
Currently i am using **Sendbird-iOS- SDK  V3   (Obj-C)** with **Xcode** Version 8.2.1 (8C1002)

While I was trying to get list of  "open channels" available in my Sendbird application dashboard,
I am getting API Token error message.
`Not valid Api-Token. Api-Token is missing.
`

The alert message  is firing  in OpenChannelListViewController.m , in this method

[code]

After debugging , i found

[2017-01-03 00:47] badrinathvm opened #20 "No Module found : AlamofireImage"
<img width="758" alt="screen shot 2017-01-02 at 4 48 13 pm" src="https://cloud.githubusercontent.com/assets/1479179/21598123/71bbbf76-d10b-11e6-9317-a4f6ff083a36.png">

Hello,

Facing a issue in swift project No Module found AlamofireImage , Can you help in providing pointers in solving it ?

Thanks again.

[2017-01-03 13:09] sf-jed-kyung commented on #20
Did you open `SendBird-iOS.xcworkspace` in Xcode?

[2017-01-04 05:52] badrinathvm commented on #20
On opening SendBird-iOS.xcworkspace works as expected.. Thanks a ton..

[2017-01-04 05:52] badrinathvm commented on #20
Closing the issue

[2017-01-04 05:52] #20 closed

[2017-01-30 03:41] leojkwan opened #21 "Make sure you set alamofire acceptable content types"
I was trying out the swift repo and after uploading some dummy images, the thumbnail would not change it's placeholder purple image view. After debugging the error messages, I realized that in

[code]

the response says make sure you allow acceptable types image/jpg, image/png etc.

Calling this class method on alamofire before the image fetch fixes it.
[code]

[2017-02-07 20:25] andy318 commented on #19
I'm encountering the same issue.

[2017-02-08 18:00] sf-jed-kyung commented on #19
I think the connection is not opened when the method is invoked. Please check the `connectWithUserId:` method is called and completed.

[2017-02-08 18:01] sf-jed-kyung commented on #14
Thanks!

[2017-02-08 18:01] #14 closed

[2017-02-09 02:37] sf-jin-ku commented on #14
@johngoren We also applied the same fix to our sample repo as well! Thanks!

[2017-02-17 01:15] #19 closed

[2017-02-17 01:16] sf-jin-ku commented on #13
Hi
It's been implemented in the latest sample!

Thanks!
Jin

[2017-02-17 01:16] #13 closed

[2017-04-06 16:08] binishkaspar opened #22 "Can't archive the swift project"
Application works good when running on device and but can't archive.

`Command /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/swiftc failed with exit code 1`

Do i need to do anything before archive the project?

[2017-04-06 18:49] sf-jed-kyung commented on #22
Thank you for having informed us. The problem is related to Optimization Level for Release. Please change `Swift Compiler - Code Generation > Optimization Level > Release` to `None[-Onone]` in `Build Settings` of `SendBird-iOS` Targets.

[2017-04-07 11:13] binishkaspar commented on #22
It worked. Thanks.

[2017-05-22 21:15] mzrzvi opened #23 "fatal error: Index out of range"
Every time I send a message in a group channel and try to go back to the group channels the app crashes and gives me the error:

[code]

[2017-05-22 22:07] sf-jed-kyung commented on #23
Could you tell me the number of the line that makes crash?

[2017-05-22 22:10] mzrzvi commented on #23
I added some code so this may not be the exact line but I think it's 220

![image](https://cloud.githubusercontent.com/assets/5845401/26330441/881701c6-3f11-11e7-98b7-1c4c3cf198b8.png)

[2017-05-29 19:25] lihowadev opened #24 "`func setModel(aUser: SBDUser)` will crash if SBDUser's profileUrl is nil"
I create a new user without avatar in Dashboard and the app will crash when hitting that method of different cells.

[2017-07-30 07:44] RonakKalavadia opened #25 "How to search specific user"

[2017-08-11 06:02] kuldeep13990 opened #26 "Delete a Specific Channel."
How can I delete Specific Channel (1 to 1) or multiple user Channel that was created by me.

Thanks in Advance.

[2017-08-14 22:58] nickpali opened #27 "The layout bug"
The layout bug fix made 10 days ago doesn't work with iPhone 5s, the messages are still overlapping with iPhone 5s on 10.3.3

[2017-08-30 18:08] RonakKalavadia commented on #26
[code]

[2017-11-21 20:13] ohadnav commented on #27
Also happens for iPhone 7

[2017-11-27 21:52] sf-jed-kyung commented on #27
Please check out the https://github.com/smilefam/SendBird-iOS/commit/c8a4383b3786d969dcc1eecb9684c0d5c64492ee commit.

Thanks.

[2017-11-27 21:52] #27 closed

[2017-11-30 13:56] aly-irshad opened #28 "CommonCrypto Error"
How to solve this error

SendBird-iOS-master/sample-swift/SendBird-iOS/Common/Utils.swift:11:8: Could not build Objective-C module 'CommonCrypto'

[2017-11-30 19:29] sf-jed-kyung commented on #28
I've never seen this error when I build this project. Did you change any configurations in this project?

[2017-12-01 04:46] aly-irshad commented on #28
I've changed signing account, bundle identifier and updated pods

[2017-12-04 18:40] carsonmcdonald commented on #28
I had the same error and right above it another error that was the real issue so maybe the following information will help. There is a modulemap file that is set to point to the XCode directory under the Applications folder but if you are using XCode installed in a different location that won't work. I changed the directory name in the modulemap files to match where I have XCode installed and that

[2017-12-05 23:38] ayazrafai90 opened #29 "CommonCrypto Issue."
I have tried many times to get resolve my CommonCrypto problem. At last I just failed with "remove lyb fat file".

Can you please let me know how to solve that. If possible then please send me some quick step to use CommonCrypto framework as updated version of CommonCrypto. I am in trouble and need some quick solution for that.

[2017-12-05 23:41] ayazrafai90 commented on #28
I have tried many times to get resolve my CommonCrypto problem. At last I just failed with "remove lyb fat file".

Can you please let me know how to solve that. If possible then please send me some quick step to use CommonCrypto framework as updated version of CommonCrypto. I am in trouble and need some quick solution for that.

Please let me know what kind of configuration need to set there. Beca

[2017-12-06 00:08] sf-jed-kyung commented on #28
@ayazrafai90  Have you ever referred to [this link](https://stackoverflow.com/a/29189873/4093639)? I referred to the answer, but I hope that other answers can help you, too.

[2017-12-06 04:52] ayazrafai90 commented on #28
Thanks for replied.

Yes, I reviewed that but can’t getting solutions. I just want to know the configuration of framework in build setting or info.

I have added Cocoa Touch Framework with name “CommonCrypto” now can you please let me know how to configure that wothout bridging header.

[2017-12-08 17:55] ayazrafai90 commented on #28
Thank you @sf-jed-kyung I have fixed that issue. But now another little problem is that I can't build my app with simulator. Do we have to set anything else?

[2017-12-08 18:01] sf-jed-kyung commented on #28
@ayazrafai90 Let me know the error that you see.

[2017-12-08 18:07] #29 closed

[2017-12-08 18:43] ayazrafai90 commented on #28
Thanks for the instant reply. It's working perfect in real device but not running in simulator.

I have reviewed every path in Build Setting and modulemap files which absolutely perfect.
        **But still getting an error in simulator** : fatal error: lipo: -remove's specified would result in an empty fat file.

[2017-12-08 18:49] sf-jed-kyung commented on #28
What is the version of CocoaPods that you are using?

[2017-12-08 18:51] ayazrafai90 commented on #28
I am using 1.4.0.beta.2

[2017-12-08 18:55] sf-jed-kyung commented on #28
Someone says the beta version has the problem.

https://github.com/Instabug/Instabug-iOS/issues/208

Could you try to downgrade to 1.3.1?

[2017-12-08 19:00] ayazrafai90 commented on #28
Do I have to update pod in my source code?

[2017-12-08 19:03] sf-jed-kyung commented on #28
After downgrading, I think you'd better update pod.

[2017-12-08 19:09] ayazrafai90 commented on #28
👍 Thank you very much! Everything going smoother now.

Really happy to meet you.
Thanks once again.

[2017-12-08 19:11] ayazrafai90 commented on #28
Thanks you  too @aly-irshad Your issue's fixed one of mine :)

[2017-12-08 19:14] sf-jed-kyung commented on #28
My pleasure. :-)

[2017-12-20 05:08] #22 closed

[2018-01-25 09:47] MJRasmussen opened #31 "Check if user have received message after a user have been inactive"
It doesn't seems like i can check if a user have received a message, when opening the application after inactivity.

Should i trigger the didReceive method?

- didReceive method works fine when the application is active.

Case:
(I want to notice the user about a new message, when they open the application after inactivity)

[2018-01-25 12:21] AshishPatel48 commented on #28
How to solve this error?

1) /Users/Mac/Downloads/SendBird-iOS-master/sample-swift/SendBird-iOS/Common/Utils.swift:11:8: Could not build Objective-C module 'CommonCrypto'

2)/Users/Mac/Library/Developer/Xcode/DerivedData/SendBird-iOS-bejyzmcwktugoiarynyextllfozi/Build/Intermediates.noindex/SendBird-iOS.build/Debug-iphoneos/CommonCrypto.build/module.modulemap:2:12: Header '/Applications/Xcode.app/C

[2018-01-30 06:45] AshishPatel48 opened #32 "Getting 2 Time Notification"
Hi,

Why I am getting 2 time notification alert in Send bird. I have checked in 4 to 5 devices in all device notification alert come twice in Notification Centre. I also check code I have written code only once than also getting 2 notification alert.

I tried :-
Reinstalled app.
Reset all setting.
Check code for registration notification.

Can you please let me know Why this happening in iOS?

Tha

[2018-01-31 10:10] AshishPatel48 commented on #32
Anyone can help me please?

[2018-02-12 09:48] #31 closed

[2018-02-13 00:25] famous90 commented on #32
did you try to remove your application completely and re-install? If you already did, please let me know your device token.

[2018-02-13 05:23] famous90 commented on #26
@kuldeep13990 Have you resolved your issue?

[2018-02-13 05:36] famous90 commented on #25
Sorry to reply late.
I'm afraid we does not provide an api to search specific user. Instead you can find user by user's meta data in SBDUserListQuery. [SBDUserListQuery setMetaDataFilterWithKey:values:] gives you users list have the meta data.

[2018-02-13 05:43] famous90 commented on #23
@mzrzvi Sorry to reply late. Have you resolved your issue? If not, plz let me know more crash info. I'll help you ASAP.

[2018-02-13 06:01] famous90 commented on #21
@leojkwan Sorry to reply late. Is it right it happens when you update thumbnail image by Alamofire? I think this problem is occurred in Alamofire and [this issue](https://github.com/Alamofire/AlamofireImage/issues/301) is same problem. If you update Alamofire(and if Alamofire resolved this issue), it'll be solved. Thank you for your suggestion.

[2018-02-13 16:45] leojkwan commented on #21
thanks @ahnjungho !

[2018-02-16 23:25] nickpali opened #33 "Sending a URL crashes the app"
In the group channel, I tried sending a link "Google.com" and the app crashes

[2018-02-19 01:08] famous90 commented on #33
hi @nickpali I can't make same situation in our app. Can you attach crash report?

[2018-02-19 03:51] mzrzvi commented on #23
@famous90 No longer involved in the project! Thank you though

[2018-03-01 20:42] akash-kr commented on #33
@famous90

I am able to replicate the issue.

The issue is in line 343 in GroupChannelChattingViewController.swift file in the swift demo app.

Attaching a screenshot.

<img width="1680" alt="screen shot 2018-03-02 at 2 10 40 am" src="https://user-images.githubusercontent.com/23457530/36868680-1d15887e-1dbf-11e8-9610-2608340f9af6.png">

[2018-03-19 08:32] famous90 commented on #33
In 1st line of your variables view, `data` is `some`, but it is a type of NSData. What message did you send?

[2018-03-19 08:36] #23 closed

[2018-03-19 08:36] #21 closed

[2018-03-19 09:31] akash-kr commented on #33
The message i sent was `Google.com`

[2018-03-19 10:33] famous90 commented on #33
@akash-kr Sorry to bother you. In this code, we missed optional binding. You can change line.343 to the following code block.
[code]
Thank you for finding our mistake. We'll fix this issue ASAP.

[2018-04-03 08:10] bitoshub opened #36 "xcode 9.3 can't build your library."
let messageLabelMaxWidth = self.frame.size.width - (self.messageContainerRightMargin.constant + self.messageContainerRightPadding.constant + self.messageContainerLeftPadding.constant + self.messageContainerLeftMargin.constant + self.messageDateLabelLeftMargin.constant + self.messageDateLabelWidth.constant)

get error below.

Expression was too complex to be solved in reasonable time; consider brea

[2018-04-03 08:43] famous90 commented on #36
In OutgoingUserMessageTableViewCell.swift, our code is
[code]
It's slightly different. plz check your expression there.

[2018-04-03 10:04] famous90 commented on #36
@bitoshub I think there's something wrong with a swift4 compiler. you can fix like this.
[code]
By seperate multiplex calculation, It will be solved.

[2018-04-19 08:04] ichina opened #38 "connecting in Swift project not working"
in swift project i had got error `400201 user not found` right on connecting with my credentials.
otherwise in obj-c project is everything ok with connecting with the same credentials (userId, userName, App ID)

[2018-04-20 13:11] ichina commented on #38
i mean projects which placed in this repo, both

[2018-04-23 03:09] famous90 commented on #38
@ichina 400201(error not found in database) error occurs when the user is not created ever before. I think it is not only for swift. Can you check your test user id and application id in the swift project?

[2018-05-02 23:26] MeMike1990 opened #40 "How to login token access"
Someone will have the code to start session with access token and where I must include it. Thank you.

[2018-05-07 13:22] antonijap opened #42 "Create new user with Swift"
Hi, I am really interested in your service but I can't find information on how to create a new user using Swift. Is that even possible?

[2018-05-07 13:51] #42 closed

[2018-05-21 16:09] nickpali opened #43 "Emojis in text"
When someone texts me with an emoji it comes up as some weird characters and not the emoji. Also sometimes the emojis I send are weird sizes.

[2018-06-28 11:42] fvvliet opened #44 "Channel access limited with password"
Is it possible to restrict access to a channel with a password ?

Thanks for advice
Frank

[2018-08-28 09:38] gsempe opened #46 "Recommended cache totalCostLimit"
The `NSCache` `totalCostLimit` is not set in the current implementation.
https://github.com/smilefam/SendBird-iOS/blob/master/sample-swift/SendBird-iOS/AppDelegate.swift#L23-L29

What is the value recommended by SendBird?

[2018-09-04 14:18] rajeshdandu opened #47 "Ban/mute user in Groupchannel"
Hello,
I am trying to ban or mute the user from a group channel.
But I am getting the below error
''The operation couldn’t be completed. (Not authorized. User is not an operator. error 400108.)''
I see nowhere a group channel can be created with operatorsIds like in open channel.
Below is my code
<img width="1014" alt="screen shot 2018-09-04 at 7 43 40 pm" src="https://user-images.githubuserconten

[2018-09-05 08:19] rajeshdandu commented on #25
declare globally as
private var groupChannelListQuery: SBDGroupChannelListQuery?

func searchByNickName(nickname: String? ) {
   if let nickname {
        self.groupChannelListQuery?.setNicknameContainsFilter(nickname)
        self.groupChannelListQuery?.order = SBDGroupChannelListOrder.latestLastMessage
        self.groupChannelListQuery?.limit = 20
    }
   self.groupChannelListQuery?.loadNextPa

[2018-09-25 07:04] StellarKuldeep opened #49 "Error in xCode 10 with Swift 4.2"
Getting below error in `getHeightOfViewCell`

**The compiler is unable to type-check this expression in reasonable time; try breaking up the expression into distinct sub-expressions**

How to fix this?

[2018-10-03 11:14] andreasorel commented on #49
Hi, what this is saying is that your need to break up the expression. For example you can do this:

`let messageLabelMaxWidthSub1 = self.profileImageLeftMargin.constant + self.profileImageWidth.constant + self.messageContainerLeftMargin.constant + self.messageContainerLeftPadding.constant
        let messageLabelMaxWidthSub2 = self.messageContainerRightPadding.constant + self.messageDateLabelLeftM

[2018-10-05 11:08] nejcpintar commented on #49
Someone resolve this, fixing all those errors was time consuming

[2018-10-09 15:38] jonron90 opened #50 "Unable to upload app update because of sendbird sdk"
We use your sendbird Chat SDK for our application and it works very good, we like it. But there are problems since iOS 12 and Xcode 10. After updating our project we are not able to upload an new binary to the App Store with Xcode 10. The reason is that the apple throws an signing error because of the sendbird sdk.
What can we do, to resolve this issue?

<img width="768" alt="376d6d17-7772-44c1-b9

[2018-10-10 15:29] #50 closed

[2018-10-10 15:32] jonron90 commented on #50
wrong project, move this issue to the send bird sdk page: https://github.com/smilefam/sendbird-ios-framework

[2018-10-12 03:40] #49 closed

[2018-12-10 15:35] zarochintsev opened #53 "Connect error: Error Domain=Access token is not valid. Code=400302 "(null)""
# General info
Hi guys, I use send SendBird for iOS and I have an error on step 2:

`Error Domain=Access token is not valid. Code=400302 "(null)"`

# My steps:

## Step 1

[code]

## Step 2

[code]

# Interesting
If I use user id as "1234" for example this is worked, but if identifier as "5c0e72a67351e1.96429818" I have an error.

# Question
Can not I use any identifier?

[2018-12-10 16:47] zarochintsev commented on #53
Sorry, this problem has been resolved, need use `.connect(withUserId:, accessToken:)`

[2018-12-10 16:47] #53 closed

[2019-02-04 14:21] rockykusuma opened #54 "Sender/Recipient Connection Status"
When two people are communicating in a group channel.
How can the User know that the other User connection status has been changed from Online to Offline?

[2019-02-14 11:56] StellarKuldeep opened #55 "How to check receiver read the message or not?"
I created 1 channel with 1 to 1 chat and now i want to show the message read status like as WhatsApp.
I review docs but doesn't find anything so i request you to please help me regarding this.

I want to do something like this.
When sender send message and once receiver read the message then sender receive some flag like `IsRead = true/false`.

How can o do this?

Any help will be appreciated.
Tha

[2019-02-14 20:32] janna-sendbird commented on #55
Hello @StellarKuldeep,

When a user reads a message, the app can call the markAsRead method to denote that he/she has read the message. https://docs.sendbird.com/ios/group_channel_advanced#3_mark_messages_as_read

The app can also retrieve an array of members who have read a message, and you can determine if the receiver has read the message or not.
https://docs.sendbird.com/ios/group_channel_adva

[2019-02-15 05:23] StellarKuldeep commented on #55
@janna-sendbird , Thanks for your help. I try to get numbers of read members using this

`let unreadMember = self.groupChannel.getReadMembers(with: message, includeAllMembers: true)`

But the issue is when i send new message to other user and comes to chattingView for 1st time then new message

[2019-02-15 07:26] StellarKuldeep commented on #55
@janna-sendbird , Thanks for your help, i have done this. Now you can close this question.

[2019-02-15 18:43] janna-sendbird commented on #55
Hi @StellarKuldeep
Good to hear that you are able to track the unread counts now in your app.
As an alternative to adding the property, you can use the channelDidUpdateReadReceipt(_ sender: SBDGroupChannel) function, and if sender == self.channel, then you can update the read statuses for the messages.

[2019-02-16 00:12] rommel-sunga commented on #54
@rockykusuma Please see the following link for user connection status:

https://help.sendbird.com/hc/en-us/articles/215980608-How-can-I-know-if-a-user-is-online-or-offline-

[2019-02-20 06:07] paulz opened #56 "Crash in Sample-SyncManager-iOS-swift when trying to create group channel"
When I try to create a group channel with a few users the sample app crashes:

Steps to reproduce:
1. Open `SendBird-iOS/syncmanager/swift/Sample-SyncManager-iOS-swift.xcworkspace`
2. Run the sample app in Simulator
3. Sign in with a new user
3. Tap Group channel
4. Tap + to create a group channel
5. Select a few users to add to it
6. Tap Create
7. App crashes

Here is the stack trace:
[code]

Bel

[2019-02-22 22:53] #55 closed

[2019-02-25 07:29] glebpreger opened #57 "Why user.userId returning user.nickname value?"
Hi, after leaving group channel, delegate method is called:

`channel(_ sender: SBDGroupChannel, userDidLeave user: SBDUser)
`

but i can't check if it is current user wtih:

`if user.userId == SBDMain.getCurrentUser()?.userId
`

because user.userId and user.nickname returning same value (nickname)

[2019-03-04 05:07] famous90 commented on #56
@paulz Thanks for your report. I will see what's wrong within `Utils`.

[2019-03-04 06:09] abhishek1512 commented on #56
@famous90 i tried run your sample app for swift 4.2. it doesn't work properly. App get crashed.

[2019-03-15 11:24] StellarKuldeep opened #58 "Uploaded Video thumbnail not display at all."
Recently I have written the code to Video upload in chat and I use SendBird demo project code to upload Video in chat, but the issue is Thumbnail not display in uploaded video.

I try this in SendBird demo as well as in my project, but facing the same issue in both.

I also follow this Docs to generate the thumbnail from video url but no luck.
https://docs.sendbird.com/ios/group_channel_advanced

[2019-03-15 15:07] sf-jed-kyung commented on #58
Hi, @StellarKuldeep

Let me know the App ID in AppDelegate.swift of SendBird demo app that you see.
_**Do not post your App ID here.**_

Thanks.

[2019-03-18 05:17] StellarKuldeep commented on #58
@sf-jed-kyung , Thank for your reply. My App ID of SendBird demo app is **9DA1B1F4-0BE6-4DA8-82C5-2E81DAB56F23**

[2019-03-18 05:53] StellarKuldeep commented on #58
@famous90 May i know why you close this question?

[2019-03-18 06:03] famous90 commented on #58
@StellarKuldeep sorry to miss close.

[2019-03-18 19:19] sf-jed-kyung commented on #58
@StellarKuldeep The thumbnail feature is enabled on the demo app. I think the filename and the mime type cause the problem. Let me know the values of them.

[2019-03-19 07:12] StellarKuldeep commented on #58
@sf-jed-kyung  Filename is **8BD990A9-76EF-45C9-94D5-343194FCD4E8.MOV** and mimetype is  **video/quicktime**

[2019-03-20 09:39] StellarKuldeep commented on #58
@sf-jed-kyung Today i am not able send text messages, Image/video file message.

When i send any message to any one then it shows me status as sending but when i go back and come again then image/video file message is not there.

Please find the attached screenshot, as you can see the file message status is sending.

![Simulator Screen Shot - iPhone 8 - 2019-03-20 at 15 03 02](https://user-images.

[2019-03-20 14:54] sf-jed-kyung commented on #58
@StellarKuldeep  I'm really sorry. The permission option of the demo app was wrong and I've changed it. Could you try it again?

[2019-03-23 11:46] StellarKuldeep commented on #58
@sf-Jed-Kyung, Thanks, Text messages, chat now works fine but still i am facing video thumbnail problem. Please help me regarding this.

[2019-03-23 15:32] sf-jed-kyung commented on #58
@StellarKuldeep The filename and the mime type are normal.  The debugging is not easy now. So, can you create a group channel and invite `sendbird_test_jed` user to the channel on the demo app? If you send a video in the channel, then I'll take a look into the thumbnail issue.

[2019-03-26 12:35] StellarKuldeep commented on #58
@sf-jed-kyung , I have created 1 group channel and invite you `sendbird_test_jed` and  i was able to send 2 text messages and then i faced below error.

![Simulator Screen Shot - iPhone 8 - 2019-03-26 at 17 51 26](https://user-images.githubusercontent.com/38131385/54997187-2d770c00-4ff1-11e9-938a-a3795f19da76.png)

I already send video in this channel and I attached a screenshot. It shows me only

[2019-03-27 06:29] atif1993 opened #59 "Image and video file not uploading in the group channel chat"
I have created 1 group channel and add 1 user in the channel. Text messages work fine, but when i try to send Image/Video file into chat. The file isn't sending.

I have already updated pod in the demo, but not able to send Image/Video file into the channel.

[2019-04-01 13:46] sf-jed-kyung commented on #58
@StellarKuldeep I turned off the profanity filter. Can you try to upload a video again? I'm watching that channel.

[2019-04-01 13:48] sf-jed-kyung commented on #59
@atif1993 Is there any error message?

[2019-04-02 04:57] atif1993 commented on #59
@sf-jed-kyung When i try to upload Image/Video file, i got this message in console.

**2019-04-02 10:25:26.821800+0530 SendBird-iOS[2290:20391] [discovery] errors encountered while discovering extensions: Error Domain=PlugInKit Code=13 "query cancelled" UserInfo={NSLocalizedDescription=query cancelled}**

[2019-04-02 05:05] StellarKuldeep commented on #58
@sf-jed-kyung  few minutes ago I uploaded the video in created channel but video not sent successfully and still thumbnail doesn't generate.

[2019-04-02 06:06] sf-jed-kyung commented on #58
![IMG_0025 2](https://user-images.githubusercontent.com/5144488/55379517-345ebc80-54d2-11e9-8ac2-237100fd5351.PNG)

@StellarKuldeep
I can see the thumbnails.

Could you compare your implementation with [this](https://github.com/smilefam/SendBird-iOS/blob/master/basic/old/sample-swift/SendBird-iOS/Chatting/ViewCell/OutgoingVideoFileMessageTableViewCell.swift#L66-L75)?

[2019-04-02 18:00] shuuja opened #60 "Media with caption"
is there a way to send media (i.e. image , video) with caption in one message?

[2019-04-02 18:13] sf-jed-kyung commented on #59
@atif1993 Let me know the file name.

[2019-04-02 18:14] sf-jed-kyung commented on #60
Send a file message with data that has the caption.

If you want to send a file message with an `SBDFileMessageParams`, set the caption in the data of the `SBDFileMessageParams` object:
https://docs.sendbird.com/ref/ios/Classes/SBDBaseMessageParams.html#//api/name/data

If you want to use a method to send a file message, use the method that has a data parameter:
https://docs.sendbird.com/ref/ios/C

[2019-04-03 06:27] StellarKuldeep commented on #58
@sf-Jed-Kyung yes, the highlighted code exists in both `IncomingVideoFileMessageTableViewCell` & `outgoingVideoFileMessageTableViewCell`

[2019-04-03 12:16] sf-jed-kyung commented on #58
@StellarKuldeep I tested the project of this repo without any modification.

[2019-04-04 00:40] #60 closed

[2019-04-05 08:42] StellarKuldeep commented on #58
@sf-jed-kyung , yes, but i have been facing this issue in the newly downloaded demo. Will you please try to send video from your end and check weather video thumbnail shows from your end or not?

[2019-04-22 00:52] famous90 commented on #56
@paulz Sorry for very late fix. Can you check it works well?

[2019-04-26 05:35] johyunmin commented on #56
project not Execute

[2019-05-28 12:00] abdulKarim002 commented on #58
@StellarKuldeep same happens to me also I have cross-checked all the code and still  no video preview on chat

[2019-06-06 12:53] StellarKuldeep commented on #58
@abdulKarim002 , Still video preview isn't generating. If you found any solution then please let me know.

[2019-06-06 17:01] erickimme commented on #58
@StellarKuldeep Can you take a look at this [how to generate thumbnail](https://docs.google.com/document/d/1eZfL7QXGzqkcrgarFCHunVO8MPXpGaKeRe5GVEm2ju0/edit?usp=sharing) guide?

[2019-06-07 06:14] StellarKuldeep commented on #58
@erickimme , It not open source guide, it asks me to request access.

[2019-06-07 16:12] erickimme commented on #58
@StellarKuldeep  Hi, I just send you an email with how to generate thumbnail guide since I can't attache a file here.

[2019-06-08 05:26] StellarKuldeep commented on #58
@erickimme , I have tried that code but what should I pass in below code?

[code]

[2019-06-12 13:19] veersr9 opened #63 "Outgoing message height is not increasing"
If I am trying to increase outgoing message height it is not increasing.

[2019-06-12 23:02] AlexPrestonSB commented on #63
Hey @veersr9,

Could you provide a little more context for your problem so I can help you out, thanks!

[2019-06-13 05:27] veersr9 commented on #63
Hello @AlexPrestonSB
     When I am sending message to another user and printing the full message . Then I am counting characters of messages it's 100 character .

"

let cellHeight = self.dateContainerTopMargin.constant + self.dateContainerHeight.constant + self.dateContainerBottomMargin.constant + self.messageContainerTopPadding.constant + fullMessageSize.height + self.messageContainerBottomPadd

[2019-06-13 16:21] AlexPrestonSB commented on #63
Let me see if I understand, you are wanting to figure out dynamically how to display your recently sent message?

[2019-06-13 18:26] enasaz9 opened #64 "I can't archive swift project after adding sendbird library"

[2019-06-14 04:29] famous90 commented on #64
@enasaz9, I found we missed bitcode in released SDK. We will release the SDK with bitcode as soon as possible. Sorry for your inconvenience.

[2019-06-14 04:32] enasaz9 commented on #64
@famous90, could you please tell me the ETD for this, as I'm developing an application and planned to do soft-launch by end of next week :(

[2019-06-14 04:57] erickimme commented on #64
@enasaz9  The fixed version has been updated thanks to @famous90 :-)

Would you like to give a try?
We hope that your soft-launch goes super successful next week and we would love to hear more about what you are building!

[2019-06-14 12:00] enasaz9 commented on #64
What's the number of the updated version? I'm still seeing the old one (1.1.4) even after using
`pod update SendBirdSyncManager`

[2019-06-19 23:48] osirisbio commented on #64
Hey @famous90 @erickimme , Thanks for the quick update, But can you let us know how we can access that version. Time is coming tight and we still stuck on that point.

[2019-06-20 15:00] famous90 commented on #64
@osirisbio you can download it in the way that @enasaz9 said. `pod update SendBirdSyncManager` @enasaz9 thanks!

[2019-06-20 16:00] enasaz9 commented on #64
@famous90 I'm still not able to archive my project even after using `pod update SendBirdSyncManager`, and the latest version that I'm seeing is still the old one (1.1.4), please tell me if you uploaded the one with the fixed bitcode issue.
Thanks!

[2019-06-21 03:12] famous90 commented on #64
@enasaz9 I think you have changed your podfile. Can you check `pod 'SendBirdSyncManager'` is in your podfile?, not to be `pod 'SendBirdSyncManager', '~> 1.1.4'`

[2019-07-03 06:53] veersr9 opened #66 "Delete specific message"
I am deleting particular message from chat . And I am passing "var message = SBDBaseMessage!" but it is not going inside completion handle . Why? and Why it is not working ?

I am using your code as it is.

self.groupChannel?.delete(message, completionHandler: { (error) in
            guard error == nil else {       // Error.
                return
            }
        })

[2019-07-03 07:00] #63 closed

[2019-07-03 17:23] AlexPrestonSB commented on #66
Hey @veersr9

I think you used the guard statement wrong. Can you try this?

[code]
Also for future issues could you submit a ticket via Zendesk as we are quicker to respond to those, and we can keep better track of those. Thank you!

[2019-07-09 09:38] #66 closed

[2019-07-29 04:45] DanielWijonoJacksLabs opened #67 "Keyboard showing but I cannot see the send button. ( in sample project )"
So when I tap the your message view, the keyboard pops up, but the send button view is not visible because it's closed by your keyboard.

[2019-07-29 17:52] bruno2ms opened #68 "Custom Thumbnail upload"
Hey guys, we already have the auto-generated thumbnails for videos, but there are any plans to add a custom thumbnail upload for a message?

Some use cases:
- Select the video frame that could be used for the thumbnail on my own app.
- Create a thumbnail for pdf, docx, xlsx, etc.
- Create a thumbnail for a custom message from my app.

This could be very useful for me.

[2019-08-02 21:47] rpekarek commented on #25
We're looking for the same functionality. Has there been any development on this?

[2019-08-21 12:18] veersr9 opened #69 "I am getting groupChannels nil. While I am sending two users channel id."
let query = SBDGroupChannel.createMyGroupChannelListQuery()
        query?.setUserIdsExactFilter(["\(myId!), \(otherUserId)"])
        query?.loadNextPage(completionHandler: { (groupChannels, error) in
            // Only 'channelA' is returned.
            print(groupChannels)
        })

[2019-08-21 18:30] erickimme commented on #69
Hello @veersr9,

Thank you for your interest in SendBird's messaging/chat API and we appreciate your time to ask inquiries.

To help you better, can you submit a support ticket via [SendBird dashboard](https://dashboard.sendbird.com/)dashboard>support>contact>technical?

[2019-08-26 09:19] dangthaison91 opened #70 "SDK as Static Framework?"
Hi,

The current SDK is provided as a Dynamic Framework which leads to increase startup time. Would you please add an option for Static Library/Framework?

[2019-08-28 17:20] dangthaison91 opened #71 "SyncManager Load more messages did not work"
In the SyncManager Example App, Chating Channel Screen only load the most recent 20 messages. I see you already implemented load more function but it didn't work. `SBSMMessageCollectionDelegate` just called for the first time even I tried to manual call `fetch(:completion)` for many times.

This issue also exists with `SBSMGroupChannelCollection`. Maybe `fetch(:completion)` doesn't work as expecte

[2019-09-16 14:42] NallapatiMalleswari opened #72 "swipe to delete each chart history from list is not working"
self.channels[indexPath.row].resetMyHistory(completionHandler: { (error) in
                        guard error == nil else {
                            self.showAlert(message: error?.localizedDescription ?? "")
                            return
                        }
                    })
                    self.chatListTableView.reloadData()

[2019-09-16 14:46] NallapatiMalleswari commented on #72
By using the resetMyHistoryWithCompletionHandler: method, you can help the current user clear the chat history in a group channel and start a fresh conversation with other members in the same channel. As the method's name implies, the chat history will be cleared only from the channel view of the current user, and will no longer be shown in that view. But the messages are not deleted from the data

[2019-09-23 14:03] EJohnF commented on #25
lack of such functionality if a huge drawback of sendbird...

[2019-09-25 18:33] biolattof opened #73 "Fetching messages is not calling the completion handler"
When calling the fetch function, it seems to works but sometimes the completion handler never gets called and from that time, every subsequent call to fetch won't call the completion handler either. I setted my delegate and my collection is not nil.

[2019-09-25 23:04] AlexPrestonSB commented on #73
Hey @biolattof we are looking into this, and working on a solution. Thank you!

[2019-09-26 13:54] harryraturi commented on #73
Hey @AlexPrestonSB , this is not working for me as well, can you please give me an ETA on when the fix will be out.

[2019-10-01 19:09] AlexPrestonSB commented on #73
@harryraturi @biolattof, this should be resolved on the latest release.

[2019-10-01 19:09] #73 closed

[2019-11-01 12:38] StellarKuldeep opened #74 "Image upload twice with low and good quality and demo crash while select iOS simulator default images."
When I select any image to upload in group then chattiest shows 2 different images. 1 image is of low quality and 2nd image is with good quality.

How can I remove the low quality image from list of messages?

**Demo Crash**

When I try to upload iOS Simulator default image for the very 1st time demo app crash with following error.

**Fatal error: Unexpectedly found nil while unwrapping an Optiona

[2019-11-13 14:12] KiranDhokale8118 opened #75 "Image Picker Selection Not working"
Image upload twice with low and good quality and demo crash while select iOS simulator default images.

[2019-11-13 23:26] AlexPrestonSB commented on #75
Hey @KiranDhokale8118, could you provide more information about the issue your are facing? Perhaps some sceenshots, version number, steps to reproduce.

[2019-11-14 04:39] KiranDhokale8118 commented on #75
When I picking the image from the phone doesn't get the posted giving the 'errors encountered while discovering extensions' as in the debug console , can u check these

[2019-12-07 10:34] kaushikdarji18 opened #76 "sendbird image sending issue"
when i send single image then automatically send double image.
sendbird chatting sdk.

[2019-12-16 11:25] KiranDhokale8118 commented on #75
When I picker image of mimeType = "public.image" , it can't be send , please check the error in Swift 5.0 not working

[2019-12-17 16:28] erickimme commented on #75
@KiranDhokale8118 Could you share the reproducible steps that I can follow so that I can report to our iOS engineering team?

[2019-12-31 03:15] AgiMaulana opened #77 "SBSMMessageCollection#limit is get-only property"
Why there is no method for setting the limit of messages retrieval?
Since there is no method for doing this, direct set through its property `SBSMMessageCollection#limit `shows an error hint "Cannot assign to property: 'limit' is a get-only property".

We need a custom limit for messages retrieval for our app. Thank you.

![image](https://user-images.githubusercontent.com/8645266/71608804-6a8eb100

[2020-01-02 08:48] tezpark commented on #74
@StellarKuldeep Thanks for your report.
I checked this issue now. This problem is due to permission that is access photo library.
By the way, this sample was old version. So we are not supporting now.
So, please use the supporting version of the example. (`SendBird-iOS/basic/Swift`)
If you want to fix and use it yourself, you can request access before using the photo library.
(e.g, When starting a

[2020-01-02 11:56] Akshay-bcat commented on #72
I am facing issue with Same method... In our case we are implementing SendBird for both iOS and Android platform. For Android this resetMyHistory method works fine but not working with iOS. For Android after calling resetMyHistory method all messages gets cleared from Chatting view and respective channel gets removed from the list of channels. But in iOS, It not clearing messages from Chatting Vie

[2020-01-02 20:21] erickimme commented on #72
Hello @Akshay-bcat,

Clear the chat history feature is effective only when the Chat history option is turned on in your dashboard under Settings > Chat > Messages.

We'd be happy to take a closer look and help you debug this issue! File a support ticket with us by going to your application at dashboard.sendbird.com and going to the 'Support' section.

[2020-01-03 05:07] Akshay-bcat commented on #72
okay @erickimme, I will raise the ticket, Thank you

[2020-01-06 10:13] alivepool opened #78 "Value of type 'SBSMMessageCollection' has no member 'fetchAllNextMessages'"
Getting this error in the SyncManager sample, file 'GroupChannelChattingViewController' function 'didSucceedReconnection'.
Can you please suggest a solution for this or fix this?

Xcode 11.3
Swift version 5.1.3

[2020-01-08 01:39] keithwang5 opened #79 "I get 52 errors after adding SendBirdSyncManager library"
I'm building an iOS app and has a strategic deadline to deliver to my client next week for beta testing. Channel/chat retrieval is really the last and most critical feature to implement but SyncManager didn't live up. I updated both the SendBird SDK and SyncManager pods to the latest version but it didn't work.

After adding SyncManager and initializing the retrieval query with this syntax in Grou

[2020-01-08 22:34] enasaz9 opened #80 "getPreviousMessagesByTimestamp has limit to 200 and doesn't support pagination"
Hello,
I'm using Sendbird SDK and I found out that getPreviousMessagesByTimestamp method has maximum limit of 200 messages, and doesn't support pagination.

Is there another method with unlimited maximum to use or is there any other method that supports pagination in the SDK.

Also we're facing this problem in Android SDK as well.

[2020-01-08 22:39] AlexPrestonSB commented on #80
Hey @enasaz9 can you show me sample code of how you are trying to do this? In both iOS and Android? Also could you provide SDK version numbers?

[2020-01-08 23:37] enasaz9 commented on #80
@AlexPrestonSB , This is a sample code for the method and response
`guard let channel = self.channel else { return }
        channel.getPreviousMessages(byTimestamp: timestamp, limit: 201, reverse: !initial, messageType: .all, customType: nil) { (msgs, error) in
            if error != nil {
                self.isLoading = false

                return
            }

            guard let message

[2020-01-09 00:44] AlexPrestonSB commented on #80
@enasaz9 Ah okay. So there is a limit of 200 for the prev_limit. I realized it is not in all documentation so I will file a ticket to make sure this is updated.

Regarding the pagination, the easiest thing to do is use the last message in the list's timestamp as the parameter for the timestamp in the next call. (There is a param isInclusive, so you don't get duplicates.)

[2020-01-09 00:46] AlexPrestonSB commented on #80
If you do not need to query by timestamp, you can use what is referenced here: https://docs.sendbird.com/ios/group_channel#3_load_previous_messages

[2020-01-09 00:51] enasaz9 commented on #80
Unfortunately we need to use query by timestamp.
Could you please provide sample code for your pagination solution?

[2020-01-10 00:02] AlexPrestonSB commented on #80
Hey @enasaz9,

I don't have any sample code to provide you. I can describe the behavior for you. What I would do is design a method that takes a timestamp, and maybe a limit as a parameter(Kinda optional as you  can just hard code 200). This method should simply retrieve x amount of messages. It could mostly be what you'd have above. I'm assuming you'd have a method to handle scrolling, or swiping

[2020-01-22 09:31] veersr9 opened #81 "Outgoing Image message sending 2 times"
How it can be fix.

[2020-02-05 05:30] Akshay-bcat commented on #81
Facing same issue... Steps to reproduce
1. Create new channel
2. Send message
3. SBDMessageCollection Delegate send insert action twice which in result show 2 messages in ChatView of sender user.

Please provide some solution to this I am using SendbirdSDK v.3.0.156 and SendbirdSyncManager v.1.1.17

[2020-02-07 05:27] SamQuest opened #82 "Streamline sample chat ApplicationId across all samples."
I logged in to [sample](https://sample.sendbird.com/basic/)
Then installed sample [SendBird-Android](https://github.com/sendbird/SendBird-Android/tree/master/syncmanager)
Then installed [SendBird-iOS](https://github.com/sendbird/SendBird-iOS/tree/master/syncmanager/swift)

Android and Web samples can send message to each other.
Was not able to send messages from iOS sample.

Took some time to dawn

[2020-02-07 07:56] BC-Chung commented on #82
Hello

Sorry for the confusion.
We found that our iOS SyncManager sample is using another Application ID unlike other samples.
We will change the Application ID and release new version.
Thanks!

Best regards
BC Chung
Solutions Engineer
SendBird

[2020-02-07 09:02] BC-Chung commented on #82
Hello

New version of iOS SyncManager sample(v3.0.93) has been release.
Will close this ticket.
Thanks!

Best regards
BC Chung
Solutions Engineer
SendBird

[2020-02-07 09:02] #82 closed

[2020-02-12 05:29] veersr9 commented on #81
@famous90  Could you please tell me why this error is occurring in iOS 13. But it is working in iOS 12 . can you please give me a solution end of the day otherwise I will uninstall this worst sdk and will choose another one.

[2020-02-13 11:58] NallapatiMalleswari opened #83 "How to check this specific user is already logged in another device?"
I am using this SDK in my application every thing is good, but  in my app there is single device login functionality so in another device I can find that session expired so I can navigate to login screen. But in send bird server Is there is option to check session expired status?

Thanks in advance.

[2020-02-13 19:40] erickimme commented on #83
Hi,

You can directly get the user's session_token object information vis our Platform API.

You can find more information at the link below:
https://docs.sendbird.com/platform/user#3_view_a_user

[2020-02-17 07:32] suryaween commented on #81
i am facing the similar issue

[2020-02-18 05:12] #69 closed

[2020-04-12 18:26] karthickkck315 commented on #81
I am also facing same issue. So, Please give me solution

[2020-05-02 10:19] Adeelhussainios opened #84 "UIWebView deprecated"
We are using latest version sendbird framwwork but our app is being rejected due to UIWebView using in
SendBirdSDK/SendBirdSDK.framework.dSYM/Contents/Resources/DWARF/SendBirdSDK

please how can we upload build with no UIWebView.

[2020-05-15 05:52] maulik15 commented on #81
I am also facing same issue. So, Please give me solution

[2020-06-09 02:17] Sadoge commented on #84
Having the same issue here as well, I would love to keep using SendBird, but I don't want future builds to be rejected by Apple based solely of off this. I am sure this is an easy fix.

[2020-06-09 02:35] sf-jed-kyung commented on #84
Hi,

First of all, Sendbird SDK doesn't include `UIWebView`. I'm not sure the reasons why, but the `dSYM` has `UIWebView` string when the framework has any codes to import `UIKit.framework`.

Did Apple say that the `dSYM` had `UIWebView` and they rejected because of that? Can you share the exact message from Apple?

[2020-06-09 02:40] Sadoge commented on #84
Hi, thanks for the really quick response. I appreciate it a lot. I understand now what is going on here. I just got the message from Apple a few days ago and was looking around for which of the packages we include in our project is using `UIWebview`. Earlier I just used the `grep -r UIWebView ios/Pods/` command to figure out which files include it, and the dSYM was indeed a match, but like you sai

[2020-06-09 02:52] sf-jed-kyung commented on #84
I already asked Apple about this before. They said that their system doesn't use the `grep` command to look for `UIWebView` string in the app and `dSYM` is not a factor to decide whether the app is using `UIWebView` or not. Please let me know if Apple points Sendbird SDK out exactly.